<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
	<!-- 配置项 控制台输出，此处的name可以随意填写-->
	<appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout"> 
			<pattern>
				%d - %msg%n
			</pattern>
		</layout>
	</appender>
	
	<!-- INFO log文件配置日志输出  -->
	<appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>DENY</onMatch>
			<onMismatch>ACCEPT</onMismatch>		
		</filter> 
		<!-- 格式 -->
		<encoder>
			<pattern>
				%msg%n
			</pattern>
		</encoder>
		<!-- 滚动策略 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 路径 -->
			<fileNamePattern>/var/log/tomcat/sell/info.%d.log</fileNamePattern>
		</rollingPolicy>
	</appender>


	<!-- INFO log文件配置日志输出  -->
	<appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<!-- 格式 -->
		<encoder>
			<pattern>
				%msg%n
			</pattern>
		</encoder>
		<!-- 滚动策略 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 路径 -->
			<fileNamePattern>/var/log/tomcat/sell/error.%d.log</fileNamePattern>
		</rollingPolicy>
		
	</appender>
		
	
	<!-- 日志级别 及 配置项的引用-->
	<root level="info">
		<!-- 配置项引用 -->
		<appender-ref ref="consoleLog"/>
		<appender-ref ref="fileInfoLog"/>
		<appender-ref ref="fileErrorLog"/>
	</root>
</configuration>
